<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="/head :: head('Study Time :: Session')"></head>
<body>

<div class="container d-inline-flex justify-content-center" th:fragment="calendar">
    <div class=" input-group search-bar">
        <input class="form-control" id="startDate" type="date"/>

        <input class="form-control" id="endDate" type="date"/>

        <a class="btn btn-danger" href="#" id="btnCalendarFilter" role="button">Filter</a>
        <a class="btn btn-danger" href="#" id="btnCalendarExport" role="button">Export</a>
    </div>
</div>

</body>
</html>
