<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="/head :: head('Study Time :: Session')"></head>
<body>
<div class="container d-inline-flex flex-wrap justify-content-center p-0" th:fragment="cardComponent">
  <div class="personal-card card col-md-3 text-white bg-dark mb-3 mx-2"
       th:each="studySession : ${sessionList}"
       th:onclick="|returnMarkdownFromOneSession('${studySession.id}')|">
    <div class="card-header">
      [[${studySession.date}]]
    </div>
    <div class="card-body d-flex flex-column align-items-start">
      <h5 class="card-title ">Content</h5>
      <p class="card-text personal-card-content " id="cardContentParagraph">
        [[${studySession.content}]]</p>
    </div>
    <div class="card-footer">
      <small class="text-muted">[[${studySession.totalStudyTime}]]</small>

    </div>
  </div>
</div>
</body>
</html>