<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="/head :: head('Study Time')"></head>
<body>
<div th:fragment="pagination">
    <div class="container text-center my-5" th:if="${totalPages == 0}">
        <p class="pagination-text-size">No results found for: [[${keyword}]]</p>
    </div>
    <div class="container text-center" th:if="${totalPages > 0}">
        <p class="pagination-text-size">Page [[${pageNum}]] of [[${totalPages}]]</p>
    </div>
    <div class="container mt-2" th:if="${totalPages > 1}">
        <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-center">
                <li class="page-item"><a
                        class="page-link"
                        th:classappend="${currentPage == 1 ? 'disabled' : ''}"
                        th:href="@{'/sessionList/1' + '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir}
                                        + ${!#strings.isEmpty(keyword) ? '&keyword=' + keyword : '' }
                                        + ${!#strings.isEmpty(startDate) ? '&startDate=' + startDate + '&endDate=' + endDate : '' }
                                        }">First</a></li>
                <li class="page-item">
                    <a
                            aria-label="Previous"
                            class="page-link"
                            th:classappend="${currentPage == 1 ? 'disabled' : ''}"
                            th:href="@{'/sessionList/' + ${currentPage - 1} + '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir}
                                            + ${!#strings.isEmpty(keyword) ? '&keyword=' + keyword : '' }
                                            + ${!#strings.isEmpty(startDate) ? '&startDate=' + startDate + '&endDate=' + endDate : '' }
                                            }">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>

                <!--TODO: refactor-->
                <li class="page-item"
                    th:classappend="${currentPage == i ? 'active' : ''}"
                    th:each="i : ${#numbers.sequence(currentPage - 2, currentPage + 2)}"
                    th:if="${currentPage > 5 && currentPage <= totalPages - 2}">
                    <a class="page-link" th:href="@{'/sessionList/' + ${i} + '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir}
                                    + ${!#strings.isEmpty(keyword) ? '&keyword=' + keyword : '' }
                                    + ${!#strings.isEmpty(startDate) ? '&startDate=' + startDate + '&endDate=' + endDate : '' }
                                    }">[[${i}]]</a>
                </li>

                <li class="page-item"
                    th:classappend="${currentPage == i ? 'active' : ''}"
                    th:each="i : ${#numbers.sequence(1, (totalPages < 5 ? totalPages : 5))}"
                    th:if="${currentPage <= 5}">
                    <a class="page-link" th:href="@{'/sessionList/' + ${i} + '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir}
                                    + ${!#strings.isEmpty(keyword) ? '&keyword=' + keyword : '' }
                                    + ${!#strings.isEmpty(startDate) ? '&startDate=' + startDate + '&endDate=' + endDate : '' }
                                    }">[[${i}]]</a>
                </li>

                <li class="page-item"
                    th:classappend="${currentPage == i ? 'active' : ''}"
                    th:each="i : ${#numbers.sequence(totalPages - 4, totalPages)}"
                    th:if="${(currentPage > totalPages - 2) && currentPage > 5}">
                    <a class="page-link"
                       th:href="@{'/sessionList/' + ${i} + '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir}}">[[${i}]]</a>
                </li>

                <li class="page-item">
                    <a
                            aria-label="Next"
                            class="page-link" th:classappend="${currentPage == totalPages ? 'disabled' : ''}"
                            th:href="@{'/sessionList/' + ${currentPage + 1} + '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir}
                                            + ${!#strings.isEmpty(keyword) ? '&keyword=' + keyword : '' }
                                            + ${!#strings.isEmpty(startDate) ? '&startDate=' + startDate + '&endDate=' + endDate : '' }
                                            }">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
                <li class="page-item"><a
                        class="page-link"
                        th:classappend="${currentPage == totalPages ? 'disabled' : ''}" th:href="@{'/sessionList/' + ${totalPages} + '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir}
                                         + ${!#strings.isEmpty(keyword) ? '&keyword=' + keyword : '' }
                                         + ${!#strings.isEmpty(startDate) ? '&startDate=' + startDate + '&endDate=' + endDate : '' }
                                         }">Last</a></li>
            </ul>
        </nav>
    </div>
</div>
</body>
</html>