<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="/head :: head('Study Time :: Session')">
</head>
<body>
<div class="col-md-8" th:fragment="sessionForm_textAreas">
    <div class="container
                    d-flex justify-content-center flex-column align-items-center
                    background-warning
                    pb-4">
        <div>
            <label id="sessionContentLabel" for="sessionContent">Content</label>
            <textarea class="form-control" id="sessionContent" rows="12" cols="100" th:field="*{content}"></textarea>
        </div>
        <div>
            <label id="sessionFeelingsLabel" for="sessionFeelings">Feelings</label>
            <textarea class="form-control" id="sessionFeelings" rows="12" cols="100" th:field="*{feelings}"></textarea>
        </div>
    </div>
</div>
</body>
</html>