/* COLOR */

.background-dark {
  background-color: #2d2d34;
}

.background-img {
  background-image: url("/img/test_background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

/* BUTTONS */

.btn-with {
  width: 125px;
}

/*INPUT TEXT RELATED TO TIME*/

.input-as-label {
  outline: none; /*Removes the border that appears when the user clicks inside the textbox*/
  caret-color: transparent; /*Removes the cursor that appears when the user clicks inside the textbox*/
  border: none;
  cursor: default;
  background-color: transparent;
  width: 70px;

  color: #2d2d34;
}