/* CONTAINER COLOR */

.background-dark {
  background-color: #2d2d34;
}

.background-img {
  background-image: url("/img/test_background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}


/* BUTTONS */

.btn-with {
  width: 125px;
}

/*INPUT TEXT RELATED TO TIME*/

.input-as-label {
  outline: none; /*Removes the border that appears when the user clicks inside the textbox*/
  caret-color: transparent; /*Removes the cursor that appears when the user clicks inside the textbox*/
  border: none;
  cursor: default;
  background-color: transparent;
  width: 70px;
  color: #2d2d34;
}

/* CARD */

.personal-card {
  cursor: pointer;
}

.personal-card-content {
  text-overflow:ellipsis;
  overflow:hidden;
  display: -webkit-box !important;
  -webkit-line-clamp: 10;
  -webkit-box-orient: vertical;
  white-space: pre-line;
  max-width: 100%; /*Prevent some overflowing*/
}

.text-size-and-font {
  font-family: 'Roboto', sans-serif;
  font-size: 1.1rem;
}

.session-table-duration {
  width: 10%;
  text-align: center;
}

.session-table-date {
  width: 10%;
  text-align: center;
}

.session-table {
  table-layout: fixed;
  width: 100%;
}

/* PAGINATION */

.pagination-text-size {
  font-size: 16px;
  color: #2d2d34;
  font-weight: bold;
}

.pagination-module {
  color: #d9534f !important;
}

.pagination-module-active {

}

.pagination-module-active a {
  color: #fff !important;
  background-color: #d9534f !important;
}

/* SEARCH BAR*/
.search-bar {
  max-width: 80%;
}

.search-bar-text {

}

.session-list-input-border:focus {
  box-shadow: none !important;
  border: 1px solid #d9534f;
}

/* MODAL INDENTATION WARNING */
.always-in-front {
  z-index: 1500;
}

/* MODAL PREVIEW */
.limit-img-size {
  max-height: 75vh;
  overflow:auto;
}

.invalidStartStopTime {
  visibility: hidden;
}

.invalidStartStopTime p {
  color: #d9534f;
}

/* TEXT AREA SESSION FORM*/

.text-area-personalized {
  padding: 12px 20px;
  box-sizing: border-box;

  border-radius: 4px;

  font-size: 16px;
  background-color: #f8f8f8 !important;
  border: 2px solid #2d2d34 !important;
  box-shadow: none !important;
}

.text-area-label {
  font-family: 'Roboto', sans-serif;
  color: #2d2d34;
  font-weight: bold;
}

/* EDIT FORM */
.title-background {
  border-radius: 4px;
  background-color: #f8f8f8;
  width: 100%;
  padding: 0;
  text-align: center;
  color: #2d2d34;
}

/* FOOTER */
.min-height {
  min-height: 35px;
  max-width: 1px;
}

.invisible p{
  visibility: hidden;
}