<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="/fragments/head :: head('Study Time :: Session')"></head>
<body class="bg-light">
    <div class="container-md  rounded shadow
    my-3 background-img">

        <div th:replace="/fragments/container_header_and_footer :: row_header"></div>

        <form id="sessionForm" th:object="${sessionObj}" th:action="@{/saveSessionForm}" method="post">
            <input type="hidden" th:field="*{date}" id="sessionDate">

            <input type="hidden" name="currentSessionStateHidden" id="currentSessionStateHidden">

            <div class="row">
                <div class="col-md-4
                    d-flex justify-content-center flex-column align-items-center">
                    <div class="container
                    d-flex justify-content-center flex-column align-items-center
                    "
                    >
                        <div class= "container
                        d-flex justify-content-center flex-column align-items-center
                         background-warning"
                        >
                            <div class="my-2">
                                <button id="btnSetSessionStartTime" class="btn btn-dark btn-sm btn-with" type="button" onclick="setStartTimeOfStudySession()">START</button>
                                <input class="input-as-label" type="text" id="labelStartTime" th:field="*{startTime}" placeholder="00:00:00" readonly/>
                            </div>
                            <div class="my-2">
                                <button id="btnSetSessionPauseTime" class="btn btn-dark btn-sm btn-with btn-dis" type="button" onclick="setPauseTimeOfStudySession()" disabled>PAUSE</button>
                                <input class="input-as-label" type="text" id="labelPauseTime" th:field="*{pauseTime}" placeholder="00:00:00" readonly/>
                            </div>
                            <div class="my-2">
                                <button id="btnSetSessionResumeTime" class="btn btn-dark btn-sm btn-with" type="button" onclick="setResumeTimeOfStudySession()" disabled>RESUME</button>
                                <input class="input-as-label" type="text" id="labelResumeTime" th:field="*{resumeTime}" placeholder="00:00:00" readonly/>
                            </div>
                            <div class="my-2">
                                <button id="btnSetSessionStopTime" class="btn btn-dark btn-sm btn-with" type="button" onclick="setStopTimeOfStudySession()" disabled>STOP</button>
                                <input class="input-as-label" type="text" id="labelStopTime" th:field="*{stopTime}" placeholder="00:00:00" readonly/>
                            </div>
                        </div>
                        <!--
                            Hidden on xs and sm.
                            Visible from MD on.
                            Doc: https://getbootstrap.com/docs/5.0/utilities/display/
                        -->
                        <div class="container d-none d-sm-none d-md-block
                        my-5">

                        </div>

                        <div class= "container
                        d-flex justify-content-center flex-column align-items-center
                        background-warning"
                        ><!-- rounded shadow  style="border:solid blue" -->
                            <div class="my-2">
                                <button id ="previewAndSaveBtn" class="btn btn-warning btn-sm btn-with" type="button">Preview & Save</button>
                            </div>
                            <div class="my-2">
                                <button id ="goToSessionListBtn" class="btn btn-warning btn-sm btn-with" type="button">List Sessions</button>
                            </div>
                            <div class="my-2">
                                <button id ="createNewSessionBtn" class="btn btn-warning btn-sm btn-with" type="button">New Session</button>
                            </div>
                            <div class="my-2">
                                <button class="btn btn-warning btn-sm btn-with" type="submit">Button</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div th:replace="/fragments/sessionForm_textAreas :: sessionForm_textAreas"></div>
            </div>

        </form>
        <div th:replace="/fragments/container_header_and_footer :: row_footer"></div>
    </div>

    <!-- Modal Indentation Warning -->
    <div th:replace="/fragments/modal :: modal_indentation_warning"></div>
    <!-- Modal Preview -->
    <div th:replace="/fragments/modal :: modal_preview"></div>
    <!--Hidden Fields and Data Storage-->
    <div th:replace="/fragments/emptyTextArea :: emptyTextArea"></div>


    <!-- <div th:replace="/fragments/modal :: modal_edit"></div>-->




    <currentSession
            id="currentSessionState"
            th:data-state ="${session.sessionState != null ? session.sessionState : null}">
    </currentSession>

<script src="/js/EventListener_sessionForm.js"></script>

<script type="text/javascript">

      const currentSessionStateFromSession = document.getElementById("currentSessionState");
      const currentState = currentSessionStateFromSession.dataset.state;

      if (currentState !== undefined && currentState !== null) {
          currentSessionState = currentState;
          console.log("sessionForm.html - Set currentSessionState to: " + currentSessionState);
      }

      setBtnState(currentSessionState);

</script>
</body>
</html>