<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="/fragments/head :: head('Study Time :: Session List')">
    <link href="https://fonts.googleapis.com" rel="preconnect">
    <link crossorigin href="https://fonts.gstatic.com" rel="preconnect">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
</head>
<body class="bg-light">
<div class="container-md  rounded shadow
        my-3 background-img">

    <div th:replace="/fragments/container_header_and_footer :: row_header"></div>

    <div th:replace="/fragments/alerts :: alert"></div>

    <div class="row pt-2 pb-4">
        <div class="col-md">
            <form method="get" th:action="@{/sessionList/1}">
                <div class="container d-inline-flex">
                    <input name="sortField" th:value="${sortField}" type="hidden">
                    <input name="sortDir" th:value="${sortDir}" type="hidden">

                    <div th:replace="/fragments/search :: searchComponent"></div>
                    <div th:replace="/fragments/calendar :: calendar"></div>

                </div>
            </form>
        </div>
    </div>
    <div class="row">
        <div class="col-md">

            <!--Display sessions as cards-->
            <div th:replace="/fragments/card :: cardComponent"></div>

            <!--Hidden Fields and Data Storage-->
            <div th:replace="/fragments/emptyTextArea :: emptyTextArea"></div>

            <!--Pagination-->
            <div th:replace="/fragments/pagination :: pagination"></div>

        </div>
    </div>

    <div th:replace="/fragments/container_header_and_footer :: row_footer"></div>
</div>

<!-- Modal Indentation Warning -->
<div th:replace="/fragments/modal :: modal_indentation_warning"></div>
<!-- Modal Preview -->
<div th:replace="/fragments/modal :: modal_preview"></div>
<!-- Modal Editing -->
<div th:replace="/fragments/modal :: modal_edit"></div>
<!-- Modal Delete Warning -->
<div th:replace="/fragments/modal :: modal_delete_confirmation"></div>

<script src="/js/SessionList_EventListener.js"></script>
<script src="/js/SessionList_HighlightKeyword.js"></script>
<script src="/js/SessionList_PreviewModal.js"></script>
<script src="/js/SessionList_EditSession.js"></script>
<script src="/js/AdjustPreviewModalImg.js"></script>

<script th:inline="javascript">

    let cardContentParagraph = document.getElementById("cardContentParagraph").innerText;
    const keyword = [[${keyword}]];
    if (cardContentParagraph && keyword) {
        window.addEventListener("load", iterateOverAllP);
    }

</script>

</body>
</html>