<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>
    <!-- My Style -->
    <link href="/css/sessionForm_style.css" rel="stylesheet">
    <!-- My Scripts -->
    <script src="/js/MyScripts.js"></script>
    <title>Study Time</title>
</head>
<body class="bg-light" onload="displayTime(); displayDayMonthYear()">
    <div class="container-md  rounded shadow
    my-3 background-img">

        <div class="row">
            <div class="col-md">
                <div class="container background-dark rounded shadow-sm
                d-flex justify-content-center flex-column align-items-center
                my-3 py-1">
                 
                        <h3 class="text-light" id="top_dateMonthYearDisplay"></h3>
                        <h5 class="text-light" id="top_timeDisplay">00:00:00</h5>
 
                </div>
            </div>
        </div>
        
        <div class="row">
            <div class="col-md-4
                d-flex justify-content-center flex-column align-items-center">
                <div class="container
                d-flex justify-content-center flex-column align-items-center
                " 
                ><!-- style="border:solid salmon" -->
                    <div class= "container
                    d-flex justify-content-center flex-column align-items-center
                     background-warning" 
                    ><!-- rounded shadow style="border:solid green" -->
                        <div class="my-2">
                            <button id="btnSetSessionStartTime" class="btn btn-dark btn-sm btn-with" type="button" onclick="setStartTimeOfStudySession()">START</button>
                            <span id="labelStartTime">00:00:00</span>
                        </div>    
                        <div class="my-2">
                            <button id="btnSetSessionPauseTime" class="btn btn-dark btn-sm btn-with btn-dis" type="button" onclick="setPauseTimeOfStudySession()" disabled>PAUSE</button>
                            <span id="labelPauseTime">00:00:00</span>
                        </div> 
                        <div class="my-2">
                            <button id="btnSetSessionResumeTime" class="btn btn-dark btn-sm btn-with" type="button" onclick="setResumeTimeOfStudySession()" disabled>RESUME</button>
                            <span id="labelResumeTime">00:00:00</span>
                        </div> 
                        <div class="my-2">
                            <button id="btnSetSessionStopTime" class="btn btn-dark btn-sm btn-with" type="button" onclick="setStopTimeOfStudySession()" disabled>STOP</button>
                            <span id="labelStopTime">00:00:00</span>
                        </div> 
                    </div>
                    <!-- 
                        Hidden on xs and sm. 
                        Visible from MD on. 
                        Doc: https://getbootstrap.com/docs/5.0/utilities/display/
                    -->
                    <div class="container d-none d-sm-none d-md-block
                    my-5"> 
                            
                    </div>

                    <div class= "container
                    d-flex justify-content-center flex-column align-items-center 
                    background-warning" 
                    ><!-- rounded shadow  style="border:solid blue" -->
                        <div class="my-2">
                            <button class="btn btn-warning btn-sm" type="submit">Button</button>
                            
                        </div>    
                        <div class="my-2">
                            <button class="btn btn-warning btn-sm" type="submit">Button</button>
                            
                        </div> 
                        <div class="my-2">
                            <button class="btn btn-warning btn-sm" type="submit">Button</button>
                            
                        </div> 
                        <div class="my-2">
                            <button class="btn btn-warning btn-sm" type="submit">Button</button>
                            
                        </div> 
                    </div>
                </div>
            </div>   
            <div class="col-md-8">
                <div class="container
                d-flex justify-content-center flex-column align-items-center
                background-warning
                pb-4"><!-- rounded shadow style="border:solid fuchsia" -->
                    <div>
                        <label for="w3review">Content:</label>
                        <textarea class="form-control" id="w3review" name="w3review" rows="12" cols="100"></textarea>
                    </div>
                    <div>
                        <label for="w3review">Feelings:</label>
                        <textarea class="form-control" id="w3review" name="w3review" rows="12" cols="100"></textarea>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md">
                <div class="container my-3 py-2
                container background-dark rounded shadow-sm "
                ><!-- style="border:solid rebeccapurple" -->
                    <button class="btn btn-light btn-sm" type="submit">Button</button>
                </div>
            </div>
        </div>
    </div>
</body>
</html>