<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="/fragments/head :: head('Study Time :: Session')"></head>
<body class="bg-light">
<div class="container-md  rounded shadow
    my-3 background-img">

    <div th:replace="/fragments/container_header_and_footer :: row_header"></div>

    <form id="sessionForm" method="post" th:action="@{/saveSessionForm}" th:object="${sessionObj}">
        <input id="sessionDate" th:field="*{date}" type="hidden">
        <input id="currentSessionStateHidden" name="currentSessionStateHidden" type="hidden">
        <input id="currentPauseStartTimeHidden" name="currentPauseStartTimeHidden" type="hidden">


        <div th:replace="/fragments/alerts :: alert"></div>

        <div class="row">
            <div class="col-md-4
                    d-flex justify-content-center flex-column align-items-center">
                <div class="container
                    d-flex justify-content-center flex-column align-items-center
                    "
                >
                    <div class="container
                        d-flex justify-content-center flex-column align-items-center
                         background-warning"
                    >
                        <div class="my-2">
                            <button class="btn btn-dark btn-sm btn-with" id="btnSetSessionStartTime" onclick="setStartTimeOfStudySession()"
                                    type="button">START
                            </button>
                            <input class="input-as-label" id="labelStartTime" placeholder="00:00:00" readonly
                                   th:field="*{startTime}" type="text"/>
                        </div>
                        <div class="my-2">
                            <button class="btn btn-dark btn-sm btn-with btn-dis" disabled
                                    id="btnSetSessionPauseTime" onclick="setPauseTimeOfStudySession()" type="button">PAUSE
                            </button>
                            <input class="input-as-label" id="labelPauseTime" placeholder="00:00:00" readonly
                                   th:field="*{totalPausedTime}" type="text"/>
                        </div>
                        <div class="my-2">
                            <button class="btn btn-dark btn-sm btn-with" disabled id="btnSetSessionStopTime"
                                    onclick="setStopTimeOfStudySession()" type="button">STOP
                            </button>
                            <input class="input-as-label" id="labelStopTime" placeholder="00:00:00" readonly
                                   th:field="*{stopTime}" type="text"/>
                        </div>

                        <div class="container
                        d-flex justify-content-center flex-column align-items-center
                        background-warning"
                        ><!-- rounded shadow  style="border:solid blue" -->
                            <div class="my-2">
                                <button class="btn btn-danger btn-sm btn-with" id="previewAndSaveBtn" type="button">
                                    Preview & Save
                                </button>
                                <input class="input-as-label"/>
                            </div>
                            <div class="my-2">
                                <button class="btn btn-danger btn-sm btn-with" id="goToSessionListBtn" type="button">
                                    List Sessions
                                </button>
                                <input class="input-as-label"/>
                            </div>
                            <div class="my-2">
                                <button class="btn btn-danger btn-sm btn-with" id="createNewSessionBtn" type="button">
                                    New Session
                                </button>
                                <input class="input-as-label"/>
                            </div>
                            <!--                                <div class="my-2">
                                                                <button class="btn btn-warning btn-sm btn-with" type="submit">Button</button>
                                                            </div>-->
                        </div>
                    </div>
                    <!--
                        Hidden on xs and sm.
                        Visible from MD on.
                        Doc: https://getbootstrap.com/docs/5.0/utilities/display/
                    -->
                    <div class="container d-none d-sm-none d-md-block
                        my-5">
                    </div>

                </div>
            </div>
            <div th:replace="/fragments/sessionForm_textAreas :: sessionForm_textAreas"></div>
        </div>

    </form>
    <div th:replace="/fragments/container_header_and_footer :: row_footer"></div>
</div>

<!-- Modal Indentation Warning -->
<div th:replace="/fragments/modal :: modal_indentation_warning"></div>
<!-- Modal Preview -->
<div th:replace="/fragments/modal :: modal_preview"></div>
<!--Hidden Fields and Data Storage-->
<div th:replace="/fragments/emptyTextArea :: emptyTextArea"></div>


<!-- <div th:replace="/fragments/modal :: modal_edit"></div>-->


<currentSession
        id="tempStorageOfData"
        th:data-currentSessionState="${session.sessionState != null ? session.sessionState : null}"
        th:data-totalPausedTime="${session.savedSessionObj?.totalPausedTime}"
        th:data-currentPauseStartTime="${session.pauseStartTime}"
        >
</currentSession>

<script src="/js/EventListener_sessionForm.js"></script>

<script type="text/javascript">

    const tempStorageOfData = document.getElementById("tempStorageOfData").dataset;
    /**
     * Cannot use camelCase below for the attribute name
     * https://developer.mozilla.org/en-US/docs/Web/API/HTMLElement/dataset
     */
    const currentState = tempStorageOfData.currentsessionstate;
    const currentTotalPausedTime = tempStorageOfData.totalpausedtime;
    const currentPauseStartTime = tempStorageOfData.currentpausestarttime;

    // If currentState is valid (not null, NaN, etc) update the variable that holds the current state
    if (currentState) {
        currentSessionState = currentState;
        console.log("sessionForm.html - Set currentSessionState to: " + currentSessionState);
    }

    if (currentPauseStartTime && currentTotalPausedTime) {
        totalSessionPauseTime = timeToMs(currentTotalPausedTime);
        sessionPauseStartTime = currentPauseStartTime;
        /*sessionPauseStartTime = Date.parse(currentPauseStartTime);*/

        console.log("sessionForm.html - totalSessionPauseTime: " + totalSessionPauseTime);
        console.log("sessionForm.html - sessionPauseStartTime: " + sessionPauseStartTime);
    }

    setBtnState(currentSessionState);

</script>
</body>
</html>