<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="/fragments/head :: head('Study Time :: Session List')">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
</head>
<body class="bg-light">
    <div class="container-md  rounded shadow
        my-3 background-img" >

        <div th:replace="/fragments/container_header_and_footer :: row_header"></div>
        <form th:action="@{/sessionList/1}" method="get">
            <div class="input-group mb-3 search-bar">
                    <input type="hidden" name="sortField" th:value="${sortField}">
                    <input type="hidden" name="sortDir" th:value="${sortDir}">

                    <input type="text" name="keyword" class="form-control"
                           th:placeholder="${!#strings.isEmpty(keyword) ? keyword : ''}"
                           aria-label="Search word" aria-describedby="button-addon2">
                    <button class="btn btn-outline-secondary" type="submit" id="button-addon2">Search</button>
                <button class="btn btn-outline-secondary" type="button" id="clearKeyword">Clear</button>
            </div>
        </form>

        <div class="row">
            <div class="col-md">
                <div class="container">
                    <table class="table table-striped table-hover table-sm session-table">
                        <thead class="thead-dark session-table">
                        <tr>
                            <th scope="col" th:replace="/fragments/table_headers :: column_link('date', 'Date')"></th>
                            <th scope="col">Content</th>
                            <th scope="col">Feelings</th>
                            <th scope="col" class="session-table-duration">Duration</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="studySession : ${sessionList}" class="session-table text-size-and-font">
                            <td class="session-table-date" th:text="${studySession.date}" th:onclick="|returnMarkdownFromOneSession('${studySession.id}')|"></td>
                            <td id="table_row_content" th:text="${studySession.content}" th:onclick="|returnMarkdownFromOneSession('${studySession.id}')|"></td>
                            <td th:text="${studySession.feelings}" th:onclick="|returnMarkdownFromOneSession('${studySession.id}')|"></td>
                            <td class="session-table-duration" th:onclick="|returnMarkdownFromOneSession('${studySession.id}')|">duration</td>
                        </tr>
                        </tbody>
                    </table>
                </div>

                <!--Hidden Fields and Data Storage-->
                <div th:replace="/fragments/emptyTextArea :: emptyTextArea"></div>
                <!--<textarea class="form-control" id="textarea-hidden-sessionList" rows="12" cols="100" hidden></textarea>-->

                    <div class="container text-center my-5" th:if="${totalPages == 0}">
                        <p class="pagination-text-size">No results found for: [[${keyword}]]</p>
                    </div>
                    <div class="container text-center" th:if="${totalPages > 0}">
                        <p class="pagination-text-size">Page [[${pageNum}]] of [[${totalPages}]]</p>
                    </div>
                    <div class="container mt-2" th:if="${totalPages > 1}">
                        <nav aria-label="Page navigation example">
                            <ul class="pagination justify-content-center">
                                <li class="page-item"><a
                                        th:classappend="${currentPage == 1 ? 'disabled' : ''}"
                                        class="page-link"
                                        th:href="@{'/sessionList/1' + '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir}
                                        + ${!#strings.isEmpty(keyword) ? '&keyword=' + keyword : '' }}">First</a></li>
                                <li class="page-item">
                                    <a
                                            th:classappend="${currentPage == 1 ? 'disabled' : ''}"
                                            class="page-link"
                                            th:href="@{'/sessionList/' + ${currentPage - 1} + '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir}
                                            + ${!#strings.isEmpty(keyword) ? '&keyword=' + keyword : '' }}" aria-label="Previous">
                                        <span aria-hidden="true">&laquo;</span>
                                    </a>
                                </li>

                                <!--TODO: refactor-->
                                <li     th:if="${currentPage > 5 && currentPage <= totalPages - 2}"
                                        th:classappend="${currentPage == i ? 'active' : ''}"
                                        class="page-item"
                                        th:each="i : ${#numbers.sequence(currentPage - 2, currentPage + 2)}">
                                    <a class="page-link" th:href="@{'/sessionList/' + ${i} + '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir}
                                    + ${!#strings.isEmpty(keyword) ? '&keyword=' + keyword : '' }}">[[${i}]]</a>
                                </li>

                                <li     th:if="${currentPage <= 5}"
                                        th:classappend="${currentPage == i ? 'active' : ''}"
                                        class="page-item"
                                        th:each="i : ${#numbers.sequence(1, (totalPages < 5 ? totalPages : 5))}">
                                    <a class="page-link" th:href="@{'/sessionList/' + ${i} + '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir}
                                    + ${!#strings.isEmpty(keyword) ? '&keyword=' + keyword : '' }}">[[${i}]]</a>
                                </li>

                                <li     th:if="${(currentPage > totalPages - 2) && currentPage > 5}"
                                        th:classappend="${currentPage == i ? 'active' : ''}"
                                        class="page-item"
                                        th:each="i : ${#numbers.sequence(totalPages - 4, totalPages)}">
                                    <a class="page-link" th:href="@{'/sessionList/' + ${i} + '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir}}">[[${i}]]</a>
                                </li>

                                <li class="page-item">
                                    <a
                                            th:classappend="${currentPage == totalPages ? 'disabled' : ''}"
                                            class="page-link" th:href="@{'/sessionList/' + ${currentPage + 1} + '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir}
                                            + ${!#strings.isEmpty(keyword) ? '&keyword=' + keyword : '' }}" aria-label="Next">
                                        <span aria-hidden="true">&raquo;</span>
                                    </a>
                                </li>
                                <li class="page-item"><a
                                        th:classappend="${currentPage == totalPages ? 'disabled' : ''}"
                                        class="page-link" th:href="@{'/sessionList/' + ${totalPages} + '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir}
                                         + ${!#strings.isEmpty(keyword) ? '&keyword=' + keyword : '' }}">Last</a></li>
                            </ul>
                        </nav>
                    </div>

            </div>
                </div>

        <div th:replace="/fragments/container_header_and_footer :: row_footer"></div>
    </div>

    <!-- Modal Indentation Warning -->
    <div th:replace="/fragments/modal :: modal_indentation_warning"></div>
    <!-- Modal Preview -->
    <div th:replace="/fragments/modal :: modal_preview"></div>
    <!-- Modal Editing -->
    <div th:replace="/fragments/modal :: modal_edit"></div>

    <script src="/js/EventListener_sessionList.js"></script>

    <!--Necessary for jQuery-->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>

    <!--TO DO refactor this code into a JS file-->
    <script th:inline="javascript">

        // Get back to SessionForm.html from SessionList.html
        document.getElementById("returnToSessionFormBtn").addEventListener("click", function (){
            window.location.href="/";
        });

        // Clear search form by making a new call to /sessionList
        document.getElementById("clearKeyword").addEventListener("click", function (){
           window.location.href="/sessionList/1?sortField=date&sortDir=dsc";
        });

        let rowValue = document.getElementById("table_row_content").innerText;
        const keyword = [[${keyword}]];
        if (rowValue != null && keyword != null) {
            window.addEventListener("load", iterateOverAllTd);
        }

        // Iterate over all <td>
        function iterateOverAllTd(){
            const cells = document.querySelectorAll('td');
            cells.forEach(function(cell) {
                cell.innerHTML = highLightKeyWord(cell.innerText, keyword);
            })
        }

        // Highlight text in the <td> if equal to the keyword
        function highLightKeyWord(rowValue, keyword){
            let replacement = "<span style=\"background-color:yellow;\">"
                + keyword
                + "</span>";

            /*return rowValue.replaceAll(keyword, replacement);*/

            let regex = new RegExp(keyword, 'gi');
            return rowValue.replaceAll(regex, replacement);
        }

        // Preview in Modal
        function returnMarkdownFromOneSession(id) {
            idFecthedByGetSessionMarkdown = id;
            let hiddenTextAreaSessionList = document.getElementById("textarea-hidden");

            fetch("/getSessionMarkdown/" + id)
                .then(response => response.text())
                .then(data => {
                    hiddenTextAreaSessionList.value = data;

                    const markdownDivSessionList = document.getElementById("markdownPreview");
                    markdownDivSessionList.innerHTML = "";

                    const previewModal = new bootstrap.Modal(document.getElementById("previewModal"), {});

                    const valueToAdd = "<md-block>" + hiddenTextAreaSessionList.value + "</md-block>";

                    const markdownDiv = document.getElementById("markdownPreview");

                    markdownDiv.insertAdjacentHTML("beforeend", valueToAdd);
                    previewModal.show();

                });


        }

        function returnSessionToEdit() {
            const id = idFecthedByGetSessionMarkdown;
            const form = document.getElementById("formEdit");
            const divPauseTime = document.getElementById("formEdit_pauseTime");
            const divResumeTime = document.getElementById("formEdit_resumeTime");
            const modalEditFormsH2 = document.getElementById("modalEditFormsH2");

            fetch("/getSessionToEdit/" + id)
                .then(response => response.json())
                .then(data => {
                    const jsonFile = data;

                    if (jsonFile.pauseTime === null) {
                        divPauseTime.hidden = true;
                        divResumeTime.hidden = true;
                    }

                    modalEditFormsH2.innerText = jsonFile.date;

                    $.each(jsonFile, function(key, value) {
                        if (form.elements[key] != null) {
                            form.elements[key].value = value;
                        }
                    });


                })




        }


    </script>

</body>
</html>